body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.input-lg-min-width {
    min-width: 300px;
}

.profile-img {
    max-width: 50px;
    max-height: 50px;
}

.lobster {
	font-family: 'Lobster', cursive, Arial, serif;
}

h3 a:link { 
	text-decoration:none; 
} 

h2 {
	color: #428bca;
}

h3 {
	color: #428bca;
}

h4 {
	color: #428bca;
}

.font-inc {
	font-size: 150%;
}

.font-dec {
	font-size: 80%;
}

.right-pad-md {
	padding-right: 10px;
}

.right-pad-sm {
	padding-right: 5px;
}

.bottom-pad-sm {
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.top-pad-sm {
    padding-top: 5px;
}

.admin-control {
   width:60px;
}

/* Extra Small */
@media(max-width:767px){
	.table-selections {
		display: block;
		/*font-size: 90%;*/
	}
	
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		padding: 6px;
	}
}

/* Small */
@media(min-width:768px) and (max-width:991px){
	.table-selections {
		display: inline-block;
	}
}

/* Medium upwards */
@media(min-width:992px) {
	.table-selections {
		display: inline-block;
	}
}
