body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.input-lg-min-width {
    min-width: 300px;
}

.profile-img {
    max-width: 50px;
    max-height: 50px;
}

.lobster {
	font-family: 'Lobster', cursive, Arial, serif;
}

h2 {
	color: #428bca;
}