<div ng-init="loadGames()">	
	<table class="table table-striped">
		<tr ng-repeat="game in games">
			<td><h2><span ng-class="{'label': true, 'label-default': game.status == 'closed', 'label-warning': game.status == 'inplay', 'label-success': game.status == 'open'}">{{ game.status }}</span></h2></td>
			<td><h2 class="lobster">{{ game.name }}</h2></td>
			<td>
				<a class="btn btn-success" ng-show="game.status == 'open'" href="#/picks/{{ game._id }}"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;My Picks</a>
			</td>
			<td>
				<a class="btn btn-default" href="#/table/{{ game._id }}"><span class="glyphicon glyphicon-list"></span>&nbsp;Table</a>
				&nbsp;	
				<a class="btn btn-default" href="#/selections/{{ game._id }}"><span class="glyphicon glyphicon-stats"></span>&nbsp;Selections</a>
			</td>
		</tr> 
	</table>	
</div>