<div ng-init="loadGames()">
    <table class="table table-striped">
        <tr ng-repeat="game in games|orderBy:'status':true">
            <td class="hidden-xs">
                <h3>
                    <span ng-class="{'label': true, 'label-default': game.status == 'closed', 'label-warning': game.status == 'inplay', 'label-success': game.status == 'open'}">{{ game.status }}</span>
                </h3>
            </td>
            <td>
                <h3 class="lobster">{{ game.name }}</h3>
            </td>
            <td>
                <a class="btn btn-default bottom-pad-sm" href="#/table/{{ game._id }}">
                    <span class="glyphicon glyphicon-list"></span>&nbsp;Table
                </a>
                <a class="btn btn-default bottom-pad-sm" href="#/selections/{{ game._id }}">
                    <span class="glyphicon glyphicon-stats"></span>&nbsp;Selections
                </a>
                <a class="btn btn-success bottom-pad-sm" href="#/picks/{{ game._id }}" ng-show="game.status == 'open'">
                    <span class="glyphicon glyphicon-heart-empty"></span>&nbsp;Picks
                </a>
            </td>
        </tr>
    </table>
</div>
