
<h2 class="lobster pull-right">{{ game.name }}</h2>
<div ng-init="loadSelections()">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th class="text-center">Total</th>
        </tr>
        <tr ng-repeat="s in selections | orderBy:'score':true" ng-class="{'font-inc': $index < 3}">
            <td><span class="text-muted">{{ $index + 1 }}</span></td>
            <td>
                <strong>{{ s.name }}</strong>
            </td>
            <td class="text-center">
                <strong ng-if="!admin">{{ s.score }}</strong>
                <form class="form-inline" role="form" ng-if="admin">
                    <input type="number" value="{{ s.score }}" class="input-lg form-control admin-control" min="0" max="999"/>
                    <button type="button" class="btn btn-default input-lg form-control" ng-disabled="submitted" ng-click="update(s._id)"><span class="glyphicon glyphicon-log-in"></span></button>
                </form>
            </td>
        </tr>
    </table>
    <pre>{{ updateSelections }}</pre>
   <div class="well">{{ game.description }}</div>
</div>
<div>
    <a ng-click="adminAuth()" class="text-muted pull-right"><span class="glyphicon glyphicon-cloud-upload"></span></a>
</div>
