
<h2 class="lobster pull-right">{{ game.name }}</h2>
<div ng-init="loadSelections()">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th class="text-center">Total</th>
        </tr>
        <tr ng-repeat="s in selections | orderBy:'score':true">
            <td><span class="text-muted">{{ $index + 1 }}</span></td>
            <td>
                <strong>{{ s.name }}</strong>
            </td>
            <td class="text-center"><strong>{{ s.score }}</strong></td>
        </tr>
    </table>

   <div class="well">{{ game.description }}</div>
</div>
