<h2 class="lobster pull-right">{{ game.name }}</h2>
<div ng-init="loadPicks()">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Selections</th>
            <th class="text-center">Total</th>
        </tr>
        <tr ng-repeat="pt in picksTotal | orderBy:'total':true">
            <td><span class="text-muted">{{ $index + 1 }}</span></td>
            <td>
            <!--<img src="http://graph.facebook.com/{{pt.facebook}}/picture" alt="{{ pt.name }}" class="img-circle profile-img">&nbsp; -->
                <strong>{{ pt.name }}</strong>
            </td>
            <td>
                <small ng-show="game.status != 'open'">{{ pt.selections }}</small>
                <small ng-show="game.status == 'open'"><em>selections will be shown when game is in-play...</em></small>
            </td>
            <td class="text-center"><strong>{{ pt.total }}</strong></td>
        </tr>
    </table>

    <div class="well">{{ game.description }}</div>
</div>
