<h2 class="lobster pull-right">{{ game.name }}</h2>
<div ng-init="loadPicks()">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Selections</th>
            <th class="text-center">Total</th>
        </tr>
        <tr ng-repeat="pt in picksTotal | orderBy:'total':true">
            <td ng-class="{'font-inc': $index < 3}"><span class="text-muted">{{ $index + 1 }}</span></td>
            <td ng-class="{'font-inc': $index < 3}">
                <strong>{{ pt.name }}</strong>
            </td>
            <td>
                <small ng-show="game.status != 'open'">
                    <div ng-repeat="s in pt.selections" class="table-selections min-width-md">
                        <span ng-class="{'label': true, 'label-default': s.score == 0, 'label-success': s.score > 0}">
                            <span class="right-pad-sm">{{ s.name }}</span> 
                            <span class="right-pad-sm">{{ s.score }}</span>
                        </span>
                    </div>    
                </small>
                <small ng-show="game.status == 'open'"><em>selections will be shown when game is in-play...</em></small>
            </td>
            <td ng-class="{'font-inc': $index < 3, 'text-center': true}"><strong>{{ pt.total }}</strong></td>
        </tr>
    </table>

    <div class="well">{{ game.description }}</div>
</div>
