<h3>{{ game.name }}</h3>
<div ng-init="loadPicks()">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th class="hidden-xs hidden-sm">Selections</th>
            <th class="text-center">Total</th>
        </tr>
        <tr ng-repeat="pt in picksTotal | orderBy:'total':true">
            <td>
                <img src="http://api.randomuser.me/portraits/men/1.jpg" alt="{{ pt.name }}" class="img-circle profile-img">&nbsp;
                <strong>{{ pt.name }}</strong>
            </td>
            <td class="hidden-xs hidden-sm"><small>{{ pt.selections }}</small></td>
            <td class="text-center"><h3>{{ pt.total }}</h3></td>
        </tr>
    </table>
</div>
